<% layout('layouts/boilerplate') %>

<div class="error-page">
    <h1><i class="fas fa-exclamation-triangle"></i> Error</h1>
    <div class="error-message">
        <p><%= error %></p>
    </div>
    <a href="/" class="btn-home">
        <i class="fas fa-home"></i> Go Back Home
    </a>
</div>
